<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Das, was der Router auswählt, soll hier gerendert werden ... /book - Ansicht wird gerendert -->

<!-- TAB MENU (Bootstrap) -->
<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a routerLink="home" routerLinkActive="active" class="nav-link" aria-current="page">Home</a>
  </li>
  <li class="nav-item">
    <a *ngIf="authService.isLoggedIn()" routerLink="padletcontainers" routerLinkActive="active" class="nav-link" aria-current="page">Padlet-Containers</a>
  </li>
  <!--
  <li class="nav-item">
    <a routerLink="padlets" routerLinkActive="active" class="nav-link" aria-current="page">Padlets</a>
  </li>
  -->
  <li class="nav-item">
    <a *ngIf="authService.isLoggedIn() && getAdminValue()" routerLink="admin" routerLinkActive="active" class="nav-link" aria-current="page">Admin</a>
  </li>
  <li class="nav-item">
    <a routerLink="login" routerLinkActive="active" class="nav-link" aria-current="page">{{getLoginLabel()}}</a>
  </li>
</ul>

<router-outlet></router-outlet>

<footer class="footer fixed-bottom mt-auto py-3 bg-light text-center">
  <div class="container">
    <span *ngIf="authService.isLoggedIn()">
      <i class="text-center"></i>Eingeloggter User:
      <span [ngClass]="{'text-success': authService.getCurrentUser().isAdmin, 'text-primary': !authService.getCurrentUser().isAdmin}">
        {{ getUserName() }} (Admin: {{ getAdminValue() }} | UID: {{ authService.getCurrentUser().id }})
      </span>
    </span>
    <br>
    <span class="text-muted">© Florian Mandlbauer, 2023</span>
  </div>
</footer>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

